/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body {
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    background-image: url('/Content/Images/pexels-chanwalrus-941861.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white; /* White text color */
}
.sidebar {
    width: 200px; /* Sidebar width */
    background-color: #343a40; /* Dark background */
    color: white;
    padding: 20px;
    height: 100vh; /* Full height */
    position: fixed; /* Fixed position */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Arrange items vertically */
    justify-content: space-between; /* Spread items evenly */
}

    .sidebar a {
        flex-grow: 1; /* Makes each link take up equal space */
        display: flex; /* Turns each link into a flex container */
        align-items: center; /* Vertically centers the text within the link */
        justify-content: center; /* Horizontally centers the text */
        font-size: 18px; /* Adjust font size to make text bigger */
        font-weight: bold; /* Makes the text stand out more */
        color: white;
        text-decoration: none;
        padding: 10px; /* Padding inside links */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s;
    }

        .sidebar a:hover {
            background-color: #495057; /* Hover effect */
            font-size: 20px; /* Optional: slightly increase font size on hover for emphasis */
        }



.content {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.7); /* Light semi-transparent background */
}