@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">KTPham Restaurant</h1>
        <p class="lead text-center">Welcome to our restaurant.</p>
    </section>
</main>
